.eggs
.idea/*
/*.tar.gz
/*~
/main/*
/modules/*
/scripts/*~
/scripts/*.pyc
/prisim/*~
/prisim/*.pyc
/prisim/examples/dbparms/*~
/prisim/examples/pbparms/*~
/prisim/examples/ioparms/*~
/prisim/*.pyc
/prisim/*.tar.gz
/prisim/interferometry.py.rej
/prisim/examples/simparms/replicatesim.yaml~
/prisim/examples/simparms/noise_update_parms.yaml~
