include *.txt prisim/examples/simparms/*.yaml prisim/examples/schedulers/*.txt
include prisim/data/catalogs/*.txt prisim/data/catalogs/*.csv
include prisim/data/catalogs/*.fits prisim/data/beams/*.hmap
include prisim/data/beams/*.hmap prisim/data/beams/*.txt
include prisim/data/phasedarray_layouts/*.txt prisim/data/array_layouts/*.txt
include prisim/data/bandpass/*.fits prisim/data/bandpass/*.txt
recursive-include docs *.txt *.py *.yaml *.fits *.csv *.hmap
recursive-include examples *.txt *.py *.yaml *.fits *.csv *.hmap
recursive-include data *.txt *.py *.yaml *.fits *.csv *.hmap
recursive-include scripts *.txt *.py *.yaml *.fits *.csv *.hmap
prune examples/sample?/build