include *.txt prisim/examples/simparms/*.yaml prisim/examples/schedulers/*.txt
include prisim/data/catalogs/*.txt prisim/data/catalogs/*.csv
include prisim/data/catalogs/*.fits prisim/data/beams/*.hmap
include prisim/data/beams/*.hmap
include prisim/data/phasedarray_layouts/*.txt prisim/data/bandpass/*.fits
include prisim/data/array_layouts/*.txt
recursive-include docs examples data scripts
recursive-include *.txt *.py *.yaml *.fits *.csv *.hmap
prune examples/sample?/build